langchain
langchain-community
langchain-groq
langchain-pinecone
langsmith
deepgram-sdk
python-dotenv
sentence_transformers
langchain_text_splitters
langchain_openai
markupsafe==2.0.1
flask_sockets
Flask==1.1.4
Werkzeug==1.0.1